html {
    font-family: 'Reggae One', cursive;
}
body {
    background-color: violet;
}
form {
    background-color: rgb(189, 106, 189);
    border: 3px solid rgb(87, 46, 87);
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}
header > nav > ul {
    background-color: rgb(94, 50, 94);
    display: flex;
    list-style: none;
}
header > nav > ul > li {
    align-content: center;
    margin: auto;
    width: -95%;
    padding: 5px;
}
header > nav > ul > li > a {
        text-decoration: none;
        color: crimson;
        font-size: 20px;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
header > nav > ul > li > a:hover {
    color: rgb(255, 42, 84);
}