<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments::head_part"/>
    <title>Products</title>
</head>
<tbody>
<header th:replace="fragments::menu"></header>
<div>Twoje złoto: </div>
<div th:text="${goldInPoach}"/>
<tr th:each="item:${itemsList}">
    <div>item:</div>
    <td th:text="${item.name}"/>
    <div>cena:</div>
    <td th:text="${item.price}"/>
    <a th:href="@{items/item/{id} (id=${item.id})}" target="_parent"><button kup> Zobacz szczegóły</button></a>
</tr>
</tbody>
</html>