<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments::head">
    <title>Admin</title>
</head>
<body>
<header th:replace="fragments::menu"></header>
<form class="container" th:action="@{/oadmin}" method="post"
      th:object="${product}">
    <!--    <label for="productID">-->
    <!--        ID: <input th:field="*{id}" name="productID" id="productID">-->
    <!--    </label>-->
    <div>
        <label>Nazwa: </label>
        <input type="text" id="productName" th:field="*{name}"/>
    </div>
    <div>
        <label>Opis:</label>
        <textarea type="text" id="productDescription" cols="40" rows="5" placeholder="Dodaj opis"
                  th:field="*{description}"/>
    </div>
    <div>
        <label>Obraz:</label>
        <input type="text" id="productImage" th:field="*{image}"/>
    </div>
    <div>
        <label>Cena:</label>
        <input type="number" id="productPrize" th:field="*{price}"/>
    </div>
    <div>
        <input type="submit" value="Dodaj produkt"/>
    </div>
</form>
</body>
</html>