<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments::head_part"/>
    <title>Admin</title>
</head>
<body>
<header th:replace="fragments::menu"></header>
<form class="container" th:action="@{/removeproduct}" method="post" th:object="${product}">
    <div>
        <label>Id: </label>
        <input type="number" id="productId" th:field="*{id}"/>
    </div>
    <div>
        <input type="submit" value="Usuń produkt"/>
    </div>
</form>
</body>
</html>